---
---

p {
	font-size: 1.25rem;
  margin: 1rem 0;
}

h1, h2, h3 { 
  color: #363636;
  line-height: 1.125;
  margin: 1.5rem 0;
}

h1 { 
  font-size: 3rem; 
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
}

img {
  display: block;
  margin: 1.5rem auto;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

pre.highlight {
  font-size: 1rem;
  background: #F8FAFF;
  margin: 2rem;
  padding: 2rem;
  border: 4px dashed pink;
}